model.h5 filter=lfs diff=lfs merge=lfs -text
results/model_vgg filter=lfs diff=lfs merge=lfs -text
CarND-Behavioral-Cloning-P3/results/model_modified_vgg_10.h5 filter=lfs diff=lfs merge=lfs -text
CarND-Behavioral-Cloning-P3/results/model_modified_vgg_25.h5 filter=lfs diff=lfs merge=lfs -text
